body {
  background-image: url('https://cdn.dribbble.com/users/1100256/screenshots/7124464/media/94a5e074f80ae9466705cf4c833c3432.gif');
  background-position: center;
  background-color: whitesmoke;
}

h1 {
  font-family: 'Space Mono';
  color: black;
  text-align: center;
}

input[type=password] {
  float: left;
  width: 20em;
  height: 3em;
  margin-left: 35em;
  box-sizing: border-box;
  border: 2px solid gainsboro;
  border-radius: 3px;
  color: whitesmoke;
  }

  input[type=button] {
    width: 5em;
    height: 1em;
    margin-left: 1em;
    background-color: black;
    color: whitesmoke;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }