body {
    background-color: cornsilk;
    font-family: 'Space Mono';
}

.header {
    font-family: 'Space Mono';
    padding: 50px;
    text-align: center;
    color: grey;
}

.header h1 {
    font-family: 'Space Mono';
    font-size: 100px;
}

.header p {
    font-family: 'Space Mono';
    font-size: 35px;
}
